<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>SellerLoginServlet</servlet-name>
		<servlet-class>servlets.SellerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SellerLoginServlet</servlet-name>
		<url-pattern>/adminlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StoreBookServlet</servlet-name>
		<servlet-class>servlets.StoreBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreBookServlet</servlet-name>
		<url-pattern>/storebooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateBookServlet</servlet-name>
		<servlet-class>servlets.UpdateBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBookServlet</servlet-name>
		<url-pattern>/updatebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerLoginServlet</servlet-name>
		<servlet-class>servlets.CustomerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLoginServlet</servlet-name>
		<url-pattern>/userlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>servlets.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerRegisterServlet</servlet-name>
		<servlet-class>servlets.CustomerRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerRegisterServlet</servlet-name>
		<url-pattern>/userreg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveBookServlet</servlet-name>
		<servlet-class>servlets.RemoveBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveBookServlet</servlet-name>
		<url-pattern>/removebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>servlets.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewBookServlet</servlet-name>
		<servlet-class>servlets.ViewBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewBookServlet</servlet-name>
		<url-pattern>/viewbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>servlets.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuyBooksServlet</servlet-name>
		<servlet-class>servlets.BuyBooksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyBooksServlet</servlet-name>
		<url-pattern>/buybook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReceiptServlet</servlet-name>
		<servlet-class>servlets.ReceiptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiptServlet</servlet-name>
		<url-pattern>/buys</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>servlets.CheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessPaymentServlet</servlet-name>
		<servlet-class>servlets.ProcessPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessPaymentServlet</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>

	<!-- Error Handlers -->
	<servlet>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<servlet-class>servlets.ErrorHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<!-- error-code related error pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error</location>
	</error-page>
	
	<!-- exception-type related error pages -->
	<error-page>
		<exception-type>
			javax.servlet.ServletException
		</exception-type>
		<location>/error</location>
	</error-page>
	<!-- exception-type related all errors -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error</location>
	</error-page>

	<!-- welcome file -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>